{% extends "layouts/base.html" %}


{% block content %}

<h1>Welcome to {{username}}</h1>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci ratione facilis voluptatibus perferendis molestiae consectetur omnis inventore, veritatis repellat error excepturi obcaecati. Consectetur, provident repudiandae tempore quam dolor veniam?</span><span>Ipsam veniam quibusdam perspiciatis repudiandae laudantium deserunt nemo impedit saepe repellat, quisquam labore sed qui recusandae consectetur voluptatibus autem iure commodi aperiam sunt accusantium adipisci magnam optio quia laborum! Est.</span></p>

{% endblock content %}