{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

<h1>{{title}}</h1>

<img src="{% static 'django.png' %}" alt="" width="100">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reiciendis illo consequatur architecto dolores repellendus culpa, eos ratione? Dolore maiores id voluptatibus blanditiis similique quod odit voluptas porro impedit rem!
Laudantium non quaerat assumenda eum voluptatum nesciunt blanditiis, doloremque exercitationem nam temporibus autem ipsa consectetur ipsum dolorum. Ab eligendi ullam rem commodi debitis quis inventore ipsum magni soluta sunt? Cupiditate.</p>

{% endblock content %}



